@model User

<label asp-for="Firstname" class="form-label">Firstname</label>
<span asp-validation-for="Firstname" class="validation-error"></span>
<input class="form-control" asp-for="Firstname" placeholder="Enter firstname" />