@model AccountViewModel

<label asp-for="NewPassword" class="form-label">New Password</label>
<span asp-validation-for="NewPassword" class="validation-error"></span>
<input class="form-control" asp-for="NewPassword" type="password" placeholder="Enter new password"/>