@model AccountViewModel

<label asp-for="OldPassword" class="form-label">Old Password</label>
<span asp-validation-for="OldPassword" class="validation-error"></span>
<input class="form-control" asp-for="OldPassword" type="password" placeholder="Enter old password"/>