@model LoginViewModel

<label asp-for="Password" class="form-label">Password</label>
<span asp-validation-for="Password" class="validation-error"></span>
<input class="form-control" asp-for="Password" type="password" placeholder="Enter password"/>