@model HeaderViewModel

<partial name="_Alert" />
<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-xxl container-fluid">
            <a class="navbar-brand" asp-controller="Meeting" asp-action="Index">
                <img src="~/img/ico.png" width="30" height="30"
                    class="d-inline-block align-text-top"/>
                <span class="fw-semibold ms-2">Meetings</span>
            </a>
            <div class="d-flex">
                <form asp-controller="Account" asp-action="Logout" method="get">
                    <button class="btn btn-secondary link-underline link-underline-opacity-0">
                        Logout
                    </button>
                </form>
                <a asp-controller="Account" asp-action="MyAccount" class="position-relative">
                    <img src=@(Model.ImageUrl ?? "/img/avatar.png") width="40" height="40" 
                        class="d-inline-block align-text-top object-fit-cover rounded-5 ms-3" />
                    <span class="position-absolute translate-middle badge rounded-pill bg-danger"                          
                          style="top: 20%; left: 85%;">
                        @Model.FriendshipRequestsNumber
                    </span>
                </a>
            </div>
        </div>
    </nav>
</header>