@model User

<form asp-action="SendFriendshipRequest">
    <input type="hidden" name="receiverId" asp-for="UserId" />
    <div class="d-grid">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa-solid fa-user-plus"></i>           
        </button>
    </div>
</form>