@model User

<div class="d-grid" id="friendship-button-parent-@(Model.UserId)">
    <div class="placeholder-glow friendship-placeholder"
         id="friendship-button-@(Model.UserId)">
        <a class="btn btn-secondary btn-sm disabled placeholder col-12"></a>
    </div>
</div>