<form asp-action="">
    <div class="d-grid">
        <button type="submit" class="btn btn-sm btn-danger">
            <i class="fa-solid fa-trash"></i>
            Delete Account
        </button>
    </div>
</form>