<div class="d-grid">
    <a class="btn btn-sm btn-secondary"
            href="@ReturnPathHelper.GetReturnPath(TempData, Context)">
        <i class="fa-solid fa-rotate-left me-1"></i>
        Go back
    </a>
</div>
