<form asp-action="">
    <div class="d-grid">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa-solid fa-paper-plane me-1"></i>
            Send Message
        </button>
    </div>
</form>